@import url('https://fonts.googleapis.com/css2?family=Cute+Font&family=Libre+Barcode+39+Text&family=Press+Start+2P&family=Space+Grotesk:wght@500&family=VT323&family=Vampiro+One&display=swap');

/* Global Styles */

:root {
  --black: #171219;
  --manga-white: #f2fbeb;
  --brown: #65471e;
  --light-red: #b57075;
  --medium-orange: #dcab80;
  --light-orange: #f8d8ab;
  --medium-red: #b8aaaa;
  --ford-white: #fff5f5;
  --pink: #fca5c2;
  --bright-red: #ec4646;
  --orange: #ffa322;
  --yellow-green: #f9fa93;
  --green: #7bc188;
  --light-blue: #8ed3f8;
  --navy-blue: #5989a3;
  --violet: #d793fa;
  --lavender: #74518e;
  --dark-purple: #1d173c;

  --color: var(--black);
  --background: var(--manga-white);
  --primary: var(--pink);
  
}


/* font-family: 'Cute Font', cursive;
  font-family: 'Libre Barcode 39 Text', cursive;
  font-family: 'Press Start 2P', cursive;
  font-family: 'Vampiro One', cursive;
  font-family: 'VT323', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */

body {
  background: url('..//public/images/cherryblossom.jpg');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  max-width: 1225px;
  display: grid;
  font-family: 'VT323', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  position: relative;
}

.AppLight {
  background: url('../public/images/sakuragif2.gif') repeat center center fixed;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.cherryButton {
  background: none;
  border: none;
  font-size: 30px;
}


h1 {
  text-shadow: 1px 1px var(--ford-white);
  color: var(--light-blue);
  font-size: 50px;
}

h2 {
  text-shadow: 1px 1px var(--black);
  color: var(--manga-white);
  font-size: 30px;
}

h3 {
  text-shadow: 1px 1px var(--black);
  color: var(--manga-white);
  font-size: 25px;
}

.aboutContainer > p {
  font-size: 22px;
  color: var(--green);
  text-shadow: 1px 1px var(--black);
}

.buttonBar {
  margin: 0 auto;
  margin-left: 100px;
}

.navButton {
  color: var(--green);
  text-shadow: 1px 2px var(--black);
  font-size: 33px;
  text-decoration: none;
  padding-left: 3px;
  padding-right: 10px;
  padding-bottom: 20px;
}

.aboutContainer {
  margin: 0 auto;
  margin-left: 100px;
  text-align: center;
}

.viewButton {
  color: var(--bright-red);
  text-shadow: 1px 1px var(--black);
  margin: 0 auto;
  margin-left: 545px;
  text-align: center;
  text-decoration: none;
  font-size: 30px;

}

.iconContainer {
  margin: 0 auto;
  margin-left: 450px;
  padding-top: 20px;
}

.icon {
  background-color: transparent;
  border: none;
  font-size: 40px;
  padding-left: 3px;
  padding-right: 100px;
  text-decoration: none;
  text-shadow: 1px 1px var(--black);
}

.quote {
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
}

.quote > p {
  font-size: 20px;
  color: var(--dark-purple);
  text-shadow: 1px 1px var(--light-orange);
}

.footerContainer {
  position: absolute;
  left:0;
  bottom:0;
  right:0;
}

.navigation {
  margin-top: 100px;
}

.tempImg {
 max-width: 200px;
 max-height: 200px; 
}

.siteLogo {
  max-width: 400px;
  max-height: 300px;
}

.presentWaifu {
  margin-left: 475px;
  margin-bottom: 150px; 
}

.presentWaifu > img {
  border-style: hidden;
  border-radius: 30px;
}

.waifuText {
  text-align: center;
  margin-right: 375px;
}
.waifu {
  max-width: 100vh;
  max-height: 500px;
}

.kawaiiContainer {
  padding-top: 10px;
  display: block;
  margin-left: 75px;
}

.generateContainer {
  padding-top: 25px;
  display: block;
  padding-left: 25px;
}

.kawaii {
  font-family: 'Cute Font', cursive;
  background: var(--pink);
  font-size: 20px;
  color: var(--manga-white);
  outline: 2px solid white;
  outline-offset: 2px;
}

.searchbar {
  margin-top: 10px;
}

.searchbar input {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  border: hidden;
  border-radius: 10px;
  font-family: 'Cute Font', cursive;
  font-size: 20px;
 
}

.searchLabel {
  font-size: 20px;
  color: var(--light-red);
  text-shadow: 1px 1px var(--lavender);
  padding: 15px;
  margin-left: 25px;

}

.airing {
  font-family: 'Vampiro', cursive;
  color: var(--dark-purple);
  border: hidden;
  border-radius: 5px;
}



.jiktanTitle {
  padding-bottom: 20px;
}

.jikanStats {
  padding-bottom: 40px;
}

.jikanImage {
  border: hidden;
  border-radius: 10px;
  margin-left: 35px;
  margin-top: 20px;
  image-rendering: optimizeQuality;
  max-height: 400px;
  max-width: 400px;
}

.jikanContainer  {
  font-family: 'Space Grotesk', sans-serif;
  font-style: bold;
  font-size: 15px;
  color: var(--dark-purple);
  text-shadow: 5px 3px var(--white);
  background-color:var(--ford-white);
  opacity: 85%;
  margin-bottom: 10px;
  border: hidden;
  border-radius: 5px;
 
}

.statusRating {
  margin-left: 700px;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.trailer {
  display: inline-flex;
  margin-left: 150px;
  margin-top: 50px;
}

.formInput {
  font-family: 'Cute Font', cursive;
  font-size: 15px;
  margin-bottom: 10px;
}



.formImage {
  max-width: 100vh;
  max-height: 100vh;
  border: hidden;
  border-radius: 30px;
}

.formContainer {
  width: 100px;
  background: transparent;
  margin-left: 30px;
  position: relative;
  height: 1000px;
}

.inputs {
  position: relative;
  width: 400px;
  height: 500px;
  background: transparent;
}

.formImageContainer {
  position: absolute;
  margin-left: 700px;
  top: 0;
  margin-top: 100px;
  margin-bottom: 500px;
  float: right;
  width: 200px;
  height: 300px; 
  background: transparent;
}

.clear {
  clear: both;
}

.main {
  position: relative;
}

.button {
  background: var(--lavender); 
  font-family: 'Cute Font', cursive;
  color: var(--manga-white);
  font-size: 20px;
  border-radius: 3px;
  margin-left: 275px;
  margin-top: 10px;
}

.inputList {
  list-style: none;
}

.label {
  color: var(--black);
  font-size: 20px;
}